body {
    
    background-image: url('index_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(104, 37, 93);
    letter-spacing: 2px;
    display: flex; /* Flexbox layout */
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align to the left */
    height: 100vh; /* Full viewport height for vertical centering */
    margin: 0; /* Remove default margin */
}

/* Dropdown Button
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}*/




nav {
    width: 100%;
    background-color: rgba(45, 1, 43, 0.558);
    border-collapse: collapse;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: space-around;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    color: white;;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul li ul.dropdown li {
    display: inline-block;
}

ul li ul.dropdown {
    width: 100%;
    background-color: rgba(45, 1, 43, 0.558);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: rgba(45, 1, 43, 0.558);
}

ul li:hover ul.dropdown {
    display: block;
}

table {
    background-color: rgba(45, 1, 43, 0.558);
    border-collapse: collapse;

}